openapi: 3.1.0

info:
  title: Outdoor DX API
  version: 1.0.0
  description: |-
    Real-time aggregation of amateur radio field activations across programs
    including POTA, SOTA, IOTA, WWFF, and WWBOTA.

    ## Endpoints

    - `bff.outdoordx.net` — real-time SSE stream (Backend for Frontend)
    - `api.outdoordx.net` — today proxied to BFF; REST API coming soon

    ## CORS

    All endpoints enforce CORS at the application layer. Only requests
    originating from `https://outdoordx.com` are served with
    `Access-Control-Allow-Origin`. Requests from other origins receive a
    response without CORS headers and are rejected by the browser.

    ## SSE connection limit

    The `/stream` endpoint allows a maximum of **3 simultaneous connections
    per IP address**. Attempting a fourth concurrent connection returns `429`.
    There is no rate limit on reconnections beyond this concurrency cap.
  contact:
    name: Outdoor DX
    url: https://outdoordx.net
  license:
    name: Mozilla Public License 2.0
    url: https://www.mozilla.org/en-US/MPL/2.0/
  x-links:
    webUI: https://outdoordx.com
    bff: https://bff.outdoordx.net
    docs: https://outdoordx.net

servers:
  - url: https://bff.outdoordx.net
    description: Backend for Frontend — real-time SSE stream
  - url: https://api.outdoordx.net
    description: Main API entry point (today proxied to BFF)

tags:
  - name: streaming
    description: Real-time spots via Server-Sent Events (SSE)

paths:

  /stream:
    get:
      operationId: streamSpots
      summary: Real-time spots stream
      description: >
        Opens a persistent Server-Sent Events (SSE) connection that delivers
        real-time spot updates as they arrive from the aggregator.


        On connection the server sends an `init` event with a snapshot of all
        current spots. Subsequent `add`, `update`, and `remove` events reflect
        changes as they happen. A keep-alive comment (`: keep-alive`) is sent
        every 30 seconds to prevent proxy timeouts.


        **Connection limit:** maximum 3 simultaneous connections per IP address.
        A fourth concurrent request returns `429` immediately.


        **CORS:** only accepted from `https://outdoordx.com`.
      tags: [streaming]
      responses:
        '200':
          description: SSE stream established. The connection stays open indefinitely.
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: https://outdoordx.com
              description: Present only when the request Origin matches the allowed origin.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SseMessage'
              examples:
                init:
                  summary: Initial snapshot on connect
                  value: |
                    event: init
                    data: [{"id":"pota:EA-1234","callsign":"EA1HET","frequency_khz":14285.0,"mode":"SSB"}]

                add:
                  summary: New spot published
                  value: |
                    event: add
                    data: {"id":"sota:EA1/LE-036","callsign":"EA1HET","frequency_khz":7032.0,"mode":"CW"}

                update:
                  summary: Existing spot updated
                  value: |
                    event: update
                    data: {"id":"sota:EA1/LE-036","callsign":"EA1HET","frequency_khz":14285.0,"mode":"SSB"}

                remove:
                  summary: Spot removed
                  value: |
                    event: remove
                    data: {"id":"sota:EA1/LE-036","callsign":"EA1HET","frequency_khz":14285.0,"mode":"SSB"}

                keepAlive:
                  summary: Keep-alive comment (no event, no data)
                  value: |
                    : keep-alive

                error:
                  summary: Stream error
                  value: |
                    event: error
                    data: {"error":"redis_unreachable"}

        '429':
          $ref: '#/components/responses/ConnectionLimitExceeded'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:

  schemas:

    Spot:
      type: object
      required: [id, callsign, frequency_khz, spotted_at]
      properties:
        id:
          type: string
        callsign:
          type: string
          example: EA1HET
        reference:
          type: string
          example: EA1/LE-036
        programId:
          type: string
          enum: [pota, sota, iota, wwff, wwbota]
          example: sota
        frequency_khz:
          type: number
          example: 14285.0
        mode:
          type: string
          example: SSB
        comment:
          type: string
        spotter:
          type: string
          description: Callsign of the station that spotted the activation.
        spotted_at:
          type: string
          format: date-time

    SseMessage:
      description: >
        A single Server-Sent Event frame. The wire format is plain text;
        each frame consists of `event: <type>` and `data: <json>` lines
        separated by a blank line. Keep-alive frames are SSE comments
        (`: keep-alive`) with no event or data.
      oneOf:
        - $ref: '#/components/schemas/SseInitEvent'
        - $ref: '#/components/schemas/SseSpotEvent'
        - $ref: '#/components/schemas/SseErrorEvent'
      discriminator:
        propertyName: event
        mapping:
          init: '#/components/schemas/SseInitEvent'
          add: '#/components/schemas/SseSpotEvent'
          update: '#/components/schemas/SseSpotEvent'
          remove: '#/components/schemas/SseSpotEvent'
          error: '#/components/schemas/SseErrorEvent'

    SseInitEvent:
      type: object
      description: Sent once on connection. Contains a snapshot of all current spots.
      required: [event, data]
      properties:
        event:
          type: string
          const: init
        data:
          type: array
          items:
            $ref: '#/components/schemas/Spot'

    SseSpotEvent:
      type: object
      description: Sent when a spot is added, updated, or removed.
      required: [event, data]
      properties:
        event:
          type: string
          enum: [add, update, remove]
        data:
          $ref: '#/components/schemas/Spot'

    SseErrorEvent:
      type: object
      description: Sent when the stream encounters an unrecoverable error. The connection closes after this event.
      required: [event, data]
      properties:
        event:
          type: string
          const: error
        data:
          type: object
          required: [error]
          properties:
            error:
              type: string
              enum: [redis_not_configured, redis_unreachable, redis_stream_failure]

  responses:

    ConnectionLimitExceeded:
      description: >
        Maximum number of simultaneous SSE connections per IP address reached
        (default: 3). Close an existing connection before opening a new one.

    ServiceUnavailable:
      description: The upstream data store (Redis) is unreachable.
      content:
        text/event-stream:
          schema:
            $ref: '#/components/schemas/SseErrorEvent'
          example: |
            event: error
            data: {"error":"redis_unreachable"}
